body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    background-color: #1F2937;
}

.header-left {
    display: flex;
    margin-right: auto;
    padding-left: 1em;
}

.header-left p,
.header-right>p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-right {
    display: flex;
    gap: 1em;
    padding-right: 1em;
}

.upper-section {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.flex-column p {
    color: pink;
}

.flex-column p {
    color: #E5E7EB;
    font-size: 18px;
}

.flex-column h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.middle-section {
    display: flex;
}

.box {}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5em;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

button {
    background-color: #3882f6;
    max-width: 100px;
}

.lower-section {
    background-color: #3882f6;
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 4em;
}

.lower-section p{
    max-width: 500px;
}

footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}